				<div id="departuresCanvas" class="canvas" style="display: none; height: 100%">
					<div style="height: 610px ; width : 1280px; float: left;" class="section">
						<div class="title" style="float: left;">Departures</div>
						<div id="weather" style="float: right;">
							<div style="float: right;">
								<div id="weatherDescription"></div>
								<div id="temperature"></div>
							</div>
							<div style="float: right;"><img id="weatherIcon" style="width: 30px; height: 30px;" src="#"></div>
						</div>
						<div style="clear: both;"></div>
						<div style="float: left; width:33%;">
							<div id="departures1" class="table departures" style="width: 100%;">
								<div style="display: table-header-group; font-weight: bold;">
									<div class="cell" style="width: 15%">Sch.</div>
									<div class="cell" style="width: 20%">Flight</div>
									<div class="cell" style="width: 40%">Destination</div>
									<div class="cell" style="width: 25%">Status</div>
								</div>
							</div>
						</div>
						<div style="float: left; width:33%;">
							<div id="departures2" class="table departures" style="width: 100%;">
                                <div style="display: table-header-group; font-weight: bold;">
									<div class="cell" style="width: 15%">Sch.</div>
									<div class="cell" style="width: 20%">Flight</div>
									<div class="cell" style="width: 40%">Destination</div>
									<div class="cell" style="width: 25%">Status</div>
								</div>
							</div>
						</div>
						<div style="float: left; width:34%;">
							<div id="departures3" class="table departures" style="width: 100%;">
                                <div style="display: table-header-group; font-weight: bold;">
									<div class="cell" style="width: 15%">Sch.</div>
									<div class="cell" style="width: 20%">Flight</div>
									<div class="cell" style="width: 40%">Destination</div>
									<div class="cell" style="width: 25%">Status</div>
								</div>
							</div>
						</div>

					</div>
				</div>
