				<div id="eventCanvas" class="canvas" style="height: 100%; display: none;">
					<div class="vertical-group firstColumn" style="min-height: 200px; min-width: 400px;">
						<div class="section">
							<h4>Olympics</h4>
							<div id="olympicsTableSortHeader" class="table data" style="width: 100%; height: 20px;">
								<div class="table-header">
									<div class="cell clickable selected" style="width: 15%" data-sort-property="startCycle" data-sort-order="descending" onclick="toggleOlympicTableSortOrder($(this))">Start Week</div>
									<div class="cell clickable" style="width: 30%" data-sort-property="hostCity" data-sort-order="descending" onclick="toggleOlympicTableSortOrder($(this))">Host City</div>
									<div class="cell" style="width: 15%">Remaining Duration</div>
									<div class="cell" style="width: 40%">Status</div>
								</div>
							</div>
							<div style="height: calc(100% - 20px); width: 100%; overflow: auto;">
								<div class="table data" id="olympicsTable" style="width: 100%; max-height: 100%">
									<div class="table-header">
										<div class="cell" style="width: 15%; border-bottom: none;"></div>
										<div class="cell" style="width: 30%; border-bottom: none;"></div>
										<div class="cell" style="width: 15%; border-bottom: none;"></div>
										<div class="cell" style="width: 40%; border-bottom: none;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="vertical-group secondColumn">
						<div id="olympicsDetails" style="display: none;min-width: 400px;" class="section">
							<h4><img class="year1 yearStatus">Year 1 - Host City Voting</h4>
							<div class="table data" id="olympicsCandidatesTable" style="width: 100%; max-height: 100%">
								<div class="table-header">
									<div class="cell" style="width: 100%">City</div>
								</div>
							</div>
							<button type="button" class="button vote">Vote</button>
							<h4 style="margin-top: 15px"><img class="year2 yearStatus">Year 2 - Winning City Bid Announcement</h4>
							<div class="table data" id="olympicsVotingRoundsTable" style="width: 100%; max-height: 100%">

							</div>
							<div class="table">
								<div class="table-row">
									<div class="label">Host City: </div>
									<div class="value hostCity"></div>
								</div>
								<div class="table-row">
									<div class="label">Voted City: </div>
									<div class="value votedCity"></div>
								</div>
								<div class="table-row claimedVoteRewardRow" style="display: none;">
									<div class="label">Claimed Reward: </div>
									<div class="value claimedVoteReward"></div>
								</div>
							</div>

							<div class="button glow votedCityReward" onclick="showOlympicsVoteRewardModal()">Claim Reward</div>
							<h4 style="margin-top: 15px"><img class="year3 yearStatus">Year 3 - Games Preparation</h4>
							<h4 style="margin-top: 15px"><img class="year4 yearStatus">Year 4 - Year of Summer Olympics<span class="tooltip">
                              <img class="info svg" loading="lazy" src="/assets/images/icons/information.svg">
                              <span class="tooltiptext alignLeft" style="width: 400px;" id="tooltip_olympics"></span>
                            </span></h4>
							<div class="table">
								<div class="table-row">
									<div class="label">Olympics Passenger Score from previous week: </div>
									<div class="value previousCycleScore"></div>
								</div>
								<div class="table-row">
									<div class="label">Current Olympics Passenger Score: </div>
									<div class="value totalScore"></div>
								</div>
								<div class="table-row">
									<div class="label">Target Olympics Passenger Score of this week: </div>
									<div class="value currentCycleGoal"></div>
								</div>
								<div class="table-row">
									<div class="label">Olympics Passenger Score Goal: </div>
									<div class="value goal"></div>
								</div>
								<div class="table-row claimedPassengerRewardRow" style="display: none;">
									<div class="label">Claimed Reward: </div>
									<div class="value claimedPassengerReward"></div>
								</div>
								<div class="table-row">
									<div class="label">Total Olympics Passengers (all airlines): </div>
									<div class="value totalPassengers"></div>
								</div>
							</div>
							<button type="button" class="button" onclick="showOlympicsRankingModal()">Ranking</button>
							<button type="button" class="button glow passengerReward" onclick="showOlympicsPassengerRewardModal()">Claim Reward</button>
						</div>
  					</div>
				</div>
