@(message: String)(implicit configuration:play.api.Configuration)
<head>
	<title>MyFly.Club | A Fork of Airline Club</title>
	<meta name="google-signin-client_id" content="526466847284-mmk6qg2bc4su9ihgqippccaha28edn81.apps.googleusercontent.com">
	<meta name="description" content="MyFly.Club, a free airline management game. Build your own airline, manage it's profits, create routes to over 4000 airports from a choice of 150+ aircraft.">
	<meta name="author" content="Paces Creative">
	<meta name="google-site-verification" content="EyjPyE3kaprSp7umZW58OuLwb-viMRBYx1lUh50ozAk" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="dns-prefetch" href="//ajax.googleapis.com">
	<link rel="dns-prefetch" href="//api.protomaps.com">
	<script>
		window.protomapsKey = '@configuration.get[String]("protomaps.apiKey")';
	</script>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/main.css")'>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/departures.css")'>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/tooltip.css")'>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/chat.css")'>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/search.css")'>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/campaign.css")'>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/switch.css")'>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/select.css")'>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/prompt.css")'>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/mobile.css")'>
	<script src="https://code.jquery.com/jquery-4.0.0.min.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-migrate-4.0.2.min.js" crossorigin="anonymous"></script>
	<script src='@routes.Assets.versioned("javascripts/libs/reconnecting-websocket.min.js")'></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@@4.4.1/dist/chart.umd.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
	<script type="text/javascript" src='@routes.Assets.versioned("progress-bar/progress-bar.js")' defer></script>
	<link rel="stylesheet" href='@routes.Assets.versioned("progress-bar/progress-bar.css")' type="text/css" />
	<link rel="stylesheet" href="/assets/firework/firework.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#000000">
</head>
