	<div id="linksCanvas" class="canvas" style="display: none; height: 100%;">
		<div class="mainPanel">
			<div class="section tight">
				<div class="no-highlight flex-row">
                    <a class="px-2 button text py-1 flex-align-center tooltip-attr tooltip-attr-bottom" data-tooltip="Sort by last updated" onclick="toggleLinksTableSortOrder($('#hiddenLinkSortBy'))"><img src='@routes.Assets.versioned("/images/icons/clock-frame.png")'></a>
                    <a class="px-2 button text py-1 flex-align-center tooltip-attr tooltip-attr-bottom" data-tooltip="Show / Hide Filter Row" onclick="toggleLinksTableFilterRow()"><img src='@routes.Assets.versioned("/images/icons/funnel.png")'></a>
                    <a class="px-2 button text flex-align-center tooltip-attr tooltip-attr-bottom opacity-80" data-tooltip="Show Averages" onclick="toggleLinksTableAverage()" style="font-family:monospace; font-size: 18px;">x̄</a>
                    <a class="px-2 button text py-1 flex-align-center tooltip-attr tooltip-attr-bottom opacity-80" data-tooltip="Show Medians" onclick="toggleLinksTableMedian()" style="font-size: 16px;">M</a>
                    <div id="linksViewSwitchContainer" class="ml-auto mt-2">
                      <div class="switch">
                        <input type="radio" class="switch-input" name="linksView" value="weekly" id="switchLinksWeekly" checked>
                        <label class="switch-label switch-label-off" for="switchLinksWeekly">This Week</label>
                        <input type="radio" class="switch-input" name="linksView" value="avg" id="switchLinksAvg">
                        <label class="switch-label switch-label-on" for="switchLinksAvg">48w Avg</label>
                        <span class="switch-selection"></span>
                      </div>
                    </div>
				</div>
				<div class="table-container-x">
					<div class="table data" style="min-width: 980px; height: 20px;">
						<div class="table-header" id="linksTableSortHeader">
							<div class="cell" style="width: 3%"><input type="checkbox" id="toggleAllLinks"
									onclick="toggleAllLinks(this)"></div>
                            <div class="cell clickable" style="width: 0%" data-sort-property="lastUpdate"
								data-sort-order="ascending" id="hiddenLinkSortBy"></div>
							<div class="cell clickable selected" style="width: 16%" data-sort-property="fromAirportCode"
								data-sort-order="descending" onclick="toggleLinksTableSortOrder($(this))">From Airport
							</div>
							<div class="cell clickable" style="width: 16%" data-sort-property="toAirportCode"
								data-sort-order="descending" onclick="toggleLinksTableSortOrder($(this))">To Airport
							</div>
							<div class="cell clickable" style="width: 14%" data-sort-property="model"
								data-sort-order="ascending" onclick="toggleLinksTableSortOrder($(this))">Model</div>
							<div class="cell clickable" style="width: 8%" align="right" data-sort-property="distance"
								data-sort-order="ascending" onclick="toggleLinksTableSortOrder($(this))">Distance</div>
							<div class="cell clickable" style="width: 8%" align="right"
								data-sort-property="totalCapacity" data-sort-order="ascending"
								onclick="toggleLinksTableSortOrder($(this))">Capacity (Freq.)</div>
							<div class="cell clickable" style="width: 3%" align="right"
								data-sort-property="computedQuality" data-sort-order="ascending"
								onclick="toggleLinksTableSortOrder($(this))" title="Quality">Q</div>							
                            <div class="cell clickable" style="width: 4%" align="right"
								data-sort-property="totalLoadFactor" data-sort-order="ascending"
								onclick="toggleLinksTableSortOrder($(this))" title="Load Factor">LF</div>
							<div class="cell clickable" style="width: 5%" align="right"
								data-sort-property="satisfaction" data-sort-order="ascending"
								onclick="toggleLinksTableSortOrder($(this))" title="Satisfaction Factor">SF</div>
							<div class="cell clickable" style="width: 8%" align="right" data-sort-property="revenue"
								data-sort-order="ascending" onclick="toggleLinksTableSortOrder($(this))">Revenue</div>
							<div class="cell clickable" style="width: 8%" align="right" data-sort-property="profit"
								data-sort-order="ascending" onclick="toggleLinksTableSortOrder($(this))">Profit</div>
							<div class="cell clickable" style="width: 7%" align="right"
								data-sort-property="profitMargin" data-sort-order="ascending"
								onclick="toggleLinksTableSortOrder($(this))">Margin</div>
							<div class="cell clickable" style="width: 6%" align="right"
								data-sort-property="currentStaffRequired" data-sort-order="ascending"
								onclick="toggleLinksTableSortOrder($(this))" title="Current Staff Required">Staff</div>
							<div class="cell clickable" style="width: 8%" align="right"
								data-sort-property="profitPerStaff" data-sort-order="ascending"
								onclick="toggleLinksTableSortOrder($(this))">Profit per staff</div>
						</div>
						<div class="table-header" id="linksTableFilterHeader" style="display: none;">
							<div class="cell" style="width: 3%">&nbsp;</div>
                            <div class="cell" style="width: 0%"></div>
							<div class="cell" style="width: 16%" data-filter-property="fromAirportCode">&nbsp;</div>
							<div class="cell" style="width: 16%" data-filter-property="toAirportCode">&nbsp;</div>
							<div class="cell" style="width: 14%" data-filter-property="modelId">&nbsp;</div>
							<div class="cell" style="width: 8%" data-filter-property="distance">&nbsp;</div>
							<div class="cell" style="width: 8%">&nbsp;</div>
							<div class="cell" style="width: 4%">&nbsp;</div>
							<div class="cell" style="width: 3%">&nbsp;</div>
							<div class="cell" style="width: 4%">&nbsp;</div>
							<div class="cell" style="width: 5%">&nbsp;</div>
							<div class="cell" style="width: 8%">&nbsp;</div>
							<div class="cell" style="width: 8%">&nbsp;</div>
							<div class="cell" style="width: 7%">&nbsp;</div>
							<div class="cell" style="width: 6%">&nbsp;</div>
							<div class="cell" style="width: 8%">&nbsp;</div>
						</div>
					</div>
					<div class="table-container-y" style="min-width: 980px;">
						<div class="table data" id="linksTable">
							<div class="table-header">
                                <div class="cell" style="width: 3%; border-bottom: none;"></div>
								<div class="cell" style="width: 16%; border-bottom: none;"></div>
								<div class="cell" style="width: 16%; border-bottom: none;"></div>
								<div class="cell" style="width: 14%; border-bottom: none;"></div>
								<div class="cell" style="width: 8%; border-bottom: none;"></div>
								<div class="cell" style="width: 8%; border-bottom: none;"></div>
								<div class="cell" style="width: 3%; border-bottom: none;"></div>
								<div class="cell" style="width: 4%; border-bottom: none;"></div>
								<div class="cell" style="width: 5%; border-bottom: none;"></div>
								<div class="cell" style="width: 8%; border-bottom: none;"></div>
								<div class="cell" style="width: 8%; border-bottom: none;"></div>
								<div class="cell" style="width: 7%; border-bottom: none;"></div>
								<div class="cell" style="width: 6%; border-bottom: none;"></div>
								<div class="cell" style="width: 8%; border-bottom: none;"></div>
							</div>
						</div>
						<div style="height: 100px; width: 100%; min-width: 600px; display:none;" class="noLinkTips">
							<div
								style="height: 100%; width: 100%; display:flex; justify-content: center; align-items: center;">
								<div class="tooltip clickable">
									<span style="vertical-align:middle">No flights yet</span>
									<img class="info svg"
										src='@routes.Assets.versioned("/images/icons/information.svg")'
										style="vertical-align:middle">
									<span class="tooltiptext below">
										<h4>First build your Headquarters</h4>
                                        <img data-src='@routes.Assets.versioned("/images/tutorial/build-hq.gif")' loading="lazy" alt="">
                                        <h4 style="margin-top: 8px;">Then select the Destination Airport from the world map</h4>
                                        <img data-src='@routes.Assets.versioned("/images/tutorial/plan-link-1.gif")' loading="lazy" alt="">
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div id="linksActionBar">
          <div class="flex-align-center gap-4">
              <span id="selectedLinksCount" class="font-bold ml-5">0 selected</span>
              <div class="divider-v"></div>
              <span class="font-uppercase">Color</span>
              <div class="color-picker-container flex-align-center gap-2">
                  <div class="color-dot" style="background-color: transparent; border-color: #aaa;" onclick="bulkUpdateColor(null)" title="None"></div>
                  <div class="color-dot" style="background-color: #ffcccc;" onclick="bulkUpdateColor('#ffcccc88')" title="Red"></div>
                  <div class="color-dot" style="background-color: #ccffcc;" onclick="bulkUpdateColor('#ccffcc88')" title="Green"></div>
                  <div class="color-dot" style="background-color: #ffffcc;" onclick="bulkUpdateColor('#ffffcc88')" title="Yellow"></div>
                  <div class="color-dot" style="background-color: #ccccff;" onclick="bulkUpdateColor('#ccccff88')" title="Blue"></div>
              </div>
              <div class="divider-v"></div>
              <span class="font-uppercase">Quality</span>
              <div id="bulkUpdateQualityBar" data-empty-icon='@routes.Assets.versioned("/images/icons/star-empty.svg")' data-fill-icon='@routes.Assets.versioned("/images/icons/star-full.svg")'></div>
              <input type="hidden" id="bulkUpdateQualityLevel" value="1" />
              <button class="button px-4 py-1" onclick="submitBulkUpdateQuality()">Update Quality</button>
              <div class="divider-v mx-5"></div>
              <button class="button warning px-4 py-1" onclick="promptBulkDelete()">Delete Selected</button>
          </div>
      </div>
