				<div id="logCanvas" class="canvas" style="height: 100%; display: none;">
					<div style="width : 95%; height: 200px" class="section">
						<h4>Alerts</h4>
						<div id = "alertTableSortHeader" class="table data" style="width: 100%; height: 20px;">
							<div class="table-header">
								<div class="cell clickable selected" style="width: 10%" data-sort-property="cycle" data-sort-order="descending" onclick="toggleAlertTableSortOrder($(this))">Week</div>
								<div class="cell clickable" style="width: 10%" data-sort-property="category" data-sort-order="ascending" onclick="toggleAlertTableSortOrder($(this))">Category</div>
								<div class="cell clickable" style="width: 10%" data-sort-property="duration" data-sort-order="ascending" onclick="toggleAlertTableSortOrder($(this))">Duration</div>
								<div class="cell clickable" style="width: 20%" data-sort-property="airlineName" data-sort-order="ascending" onclick="toggleAlertTableSortOrder($(this))">Airline</div>
								<div class="cell clickable" style="width: 50%" data-sort-property="message" data-sort-order="ascending" onclick="toggleAlertTableSortOrder($(this))">Message</div>
							</div>
						</div>
						<div style="height: calc(100% - 20px); width: 100%; overflow: auto;">
							<div class="table data" id="alertTable" style="width: 100%; max-height: 100%">
								<div class="table-header">
									<div class="cell" style="width: 10%; border-bottom: none;"></div>
									<div class="cell" style="width: 10%; border-bottom: none;"></div>
									<div class="cell" style="width: 10%; border-bottom: none;"></div>
									<div class="cell" style="width: 20%; border-bottom: none;"></div>
									<div class="cell" style="width: 50%; border-bottom: none;"></div>
								</div>
							</div>
						</div>
					</div>


					<div style="width : 95%; height: 500px" class="section">
						<div style="height: 60px;">
							<h4>Add Self Note</h4>
							<input type="text" class="selfNote" size="50" maxlength="100">
							<img src='/assets/images/icons/plus-button.png' class="clickable" onclick="putSelfNote()" style="vertical-align: text-bottom;">
							<div class="selfNote rejection" style="display: none;">
								<img src='/assets/images/icons/exclamation-red-frame.png' style="vertical-align: text-bottom;"><span class="reason"></span>
							</div>
						</div>
						<h4>Logs</h4>
						<div id = "logTableSortHeader" class="table data" style="width: 100%; height: 20px;">
							<div class="table-header">
								<div class="cell clickable selected" style="width: 10%" data-sort-property="cycleDelta" data-sort-order="descending" onclick="toggleLogTableSortOrder($(this))">Week</div>
								<div class="cell clickable" style="width: 10%" data-sort-property="severity" data-sort-order="descending" onclick="toggleLogTableSortOrder($(this))">Severity</div>
								<div class="cell clickable" style="width: 10%" data-sort-property="category" data-sort-order="descending" onclick="toggleLogTableSortOrder($(this))">Category</div>
								<div class="cell clickable" style="width: 20%" data-sort-property="airlineName" data-sort-order="ascending" onclick="toggleLogTableSortOrder($(this))">Airline</div>
								<div class="cell clickable" style="width: 50%" data-sort-property="message" data-sort-order="ascending" onclick="toggleLogTableSortOrder($(this))">Message</div>
							</div>
						</div>
						<div style="height: calc(100% - 100px); width: 100%; overflow: auto;">
							<div class="table data" id="logTable" style="width: 100%; max-height: 100%">
								<div class="table-header">
									<div class="cell" style="width: 10%; border-bottom: none;"></div>
									<div class="cell" style="width: 10%; border-bottom: none;"></div>
									<div class="cell" style="width: 10%; border-bottom: none;"></div>
									<div class="cell" style="width: 20%; border-bottom: none;"></div>
									<div class="cell" style="width: 50%; border-bottom: none;"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
