				<div id="officeCanvas" class="canvas" style="display: none;">

					<div style="box-sizing: border-box;display: flex;gap: 8px;flex-wrap: wrap; min-width: 400px; width: 70%;">
						<div class="section min-w-52 max-w-260px">
							<h2 class="text-center text-underline">
								<span class="airlineName">Airline Name</span>
                                <img class="img-button svg hover-rotate" src='@routes.Assets.versioned("images/icons/gear.svg")' onclick="editAirlineName()"/>
							</h2>
							<span class="airlineNameInputSpan" style="display: none;">
								<input id="airlineNameInput" class="airlineNameInput" type="text" />
								<button onclick="confirmAirlineRename($('#officeCanvas .airlineNameInput').val())" class="confirm">
									<img src='@routes.Assets.versioned("/images/icons/tick.svg")' class="svg img-button"/>
								</button>
								<button onclick="cancelAirlineRename()">
									<img src='@routes.Assets.versioned("/images/icons/cross.svg")' class='cancel svg img-button'/>
								</button>
								<div class="warning" style="display:none;"></div>
							</span>

							<div class="reputationStars pb-4 text-center"></div>
							<div class="threshold-section">
								<p class="text-center leading-tight"><i class="reputationLevel">Level 1</i></p>
								<p class="text-center leading-tight pb-2 reputationText">Baby Airline</p>
								<div class="threshold-bar short-fat reputation">
									<p class="text-center font-mono reputationValueCurrent">0</p>
									<div id="reputationBar" class="threshold-bar-bg"></div>
								</div>
								<p class="small max-w-32 mx-auto flex-container-width-half"><span class="font-mono reputationValuePrev text-left">0</span><span class="font-mono reputationValueNext">10</span></p>
								<p class="text-right small max-w-32 mx-auto pb-4">trending to: <span class="font-mono reputationTrend">10</span></p>
								<div class="">
									<p class="text-center">Reputation Breakdown
										<span class="tooltip">
											<img class="info svg" src='@routes.Assets.versioned("/images/icons/information.svg")'>
											<span class="tooltiptext alignLeft below" style="width: 280px;">
												Your airline's reputation slowly moves toward the "trending to" reputation. Each reputation level gives your airline 3 additional managers.
											</span>
										</span>
									</p>
									<ul class="reputationDetails small"></ul>
								</div>
							</div>
							<h4 class="pt-4 pb-4"><span class="airlineType"></span> Airline<span class="tooltip">
											<img class="info svg" src='@routes.Assets.versioned("/images/icons/information.svg")'>
											<div class="tooltiptext alignLeft below airlineTypeDescription" style="width: 280px;"></div>
										</span></h4>
							<h4>Employee settings</h4>
							<p>Current Employee Quality: <span id="currentServiceQuality"></span></p>
							<p>Target Employee Quality:
								<span id="serviceFundingContainer"></span>
								<span class="tooltip">
									<img class="info svg" src='@routes.Assets.versioned("/images/icons/information.svg")'>
									<span class="tooltiptext alignLeft below" style="width: 220px;">Employee quality (EQ) impacts flight quality across your entire airline.</span>
								</span>
							</p>
							<p class="pb-4">Projected Employee Costs: $<span id="fundingProjection"></span></p>

							<h4>Aircraft Renewal<span class="tooltip">
									<img class="info svg" src='@routes.Assets.versioned("/images/icons/information.svg")'>
									<span class="tooltiptext alignLeft below" style="width: 280px;">
										You may set:<br>
										- Auto renewal, your airline will auto purchase new planes when they fall below the set condition. Having newer planes increases your quality.
										- Minimum balance, your airline will not auto purchase if your cash on hand is below your set minimum balance.
									</span>
								</span>
							</h4>
							<p>Auto Renewal: <span id="airplaneRenewalContainer"></span></p>
							<p class="pb-4">Minimum Balance: Above <span id="minimumRenewalBalanceContainer"></span></p>
                            <div class="airlineTypeHide">
                                <h4>Company Stock</h4>
                                <p>Stock price: <span class="airlineStockPrice"></span></p>
                                <p>Market cap: <span class="airlineMarketCap"></span></p>
                                <p>Shares outstanding: <span class="airlineSharesOutstanding"></span></p>
                                <p class="mt-2">Weekly Dividends: <span id="dividendsContainer"></span></p>
                                <p class="dividendCoolDownInfo text-xs opacity-70"></p>
                                <button type="button" class="button stockOpBtn m-0 mt-2" onclick="doStockOp('buyback')">Buyback 1m shares for <span class="stockBuyBackCost"></span></button>
                                <button type="button" class="button stockOpBtn m-0 mt-2" onclick="doStockOp('sell')">Sell 1m shares for 2⚡ and <span class="stockSellRevenue"></span></button>
                                <p class="stockBuybackInfo"></p>
                            </div>
						</div>

						<div class="section min-w-80" style="flex:1; max-width: 100%;">
							<h4>Reputation tracks<div class="tooltip">
									<img src='@routes.Assets.versioned("/images/icons/information.svg")'>
									<div class="tooltiptext alignLeft below p-4" style="width: 320px;">
										<p>Achieving a level on a reputation track earns an additional 25 reputation.</p>
										<p>The tourist & elite track each time a passenger of that type takes your airline during their journey.</p>
									</div>
								</div>
							</h4>

							<div class="threshold-section" id="touristsTravelersProgress">
								<div class="flex-row items-end flex-wrap">
									<div class="min-w-52 pr-2">
										<h4 class="leading-tight m-0">Tourists & Travelers Ticketed: <span class="touristsTravelersValueCurrent">0</span></h4>
										<p class="leading-tight">Next level at <span class="touristsTravelersValueNext"></span> tourists & travelers ticketed</p>
									</div>
									<p class="leading-tight pr-2 min-w-40"><span class="touristsTravelersLevel pr-1">Level 0</span>: <i class="touristsTravelersText">Worthless</i></p>
								</div>
								<div class="threshold-bar-container">
									<div class="threshold-bar">
										<div id="touristsTravelersBar" class="threshold-bar-bg"></div>
									</div>
								</div>
							</div>

							<div class="threshold-section" id="elitesProgress">
								<div class="flex-row items-end flex-wrap">
									<div class="min-w-52 pr-2">
										<h4 class="leading-tight m-0">Elites Ticketed: <span class="elitesValueCurrent">0</span></h4>
										<p class="leading-tight">Next level at <span class="elitesValueNext"></span> elites ticketed</p>
									</div>
									<p class="leading-tight pr-2 min-w-40"><span class="elitesLevel pr-1">Level 0</span>: <i class="elitesText"></i></p>
								</div>
								<div class="threshold-bar-container">
									<div class="threshold-bar">
										<div id="elitesBar" class="threshold-bar-bg"></div>
									</div>
								</div>
							</div>

							<div class="threshold-section" id="stockProgress">
								<div class="flex-row items-end">
									<h4 class="leading-tight m-0 pr-2"><span class="stockValueCurrent">0</span> Stock Price</h4>
									<p class="leading-tight pr-2"><i class="stockLevel pr-1">Level 0: </i>: <span class="stockText">Worthless</span></p>
									<p class="leading-tight">Next level at <span class="stockValueNext"></span></p>
								</div>
								<div class="threshold-bar-container">
									<div class="threshold-bar">
										<div id="stockBar" class="threshold-bar-bg"></div>
									</div>
								</div>
							</div>

							<div class="pt-8">
								<h4>Milestones <i class="opacity-70 text-xs">@@ last week</i></h4>
								<div id="milestones" class="container-cols-180px py-2"></div>
							</div>
						</div>

                        <div style="display:flex;flex-direction:column;width:100%;">
                        <div class="sheet-tab-row">
                            <div class="sheetOptions">
                                <div class="cell clickable selected" data-type="income">Operating Finances</div>
                                <div class="cell clickable" data-type="ledger">Ledger</div>
                                <div class="cell clickable" data-type="airlineStat">Passenger Stats</div>
                                <div class="cell clickable" data-type="airlineOp">Operating Metrics</div>
                                <div class="cell clickable" data-type="airlineReputation">Reputation</div>
                            </div>
                            <select class="select-css period ml-auto mb-2">
                                <option value="WEEKLY" selected="selected">Week</option>
                                <option value="QUARTER">Quarter</option>
                                <option value="YEAR">Year</option>
                            </select>
                        </div>
                        <div class="sheet-frame section tight">
							<div style="width: 100%; overflow:hidden;" id="incomeSheet" class="sheet">
								<div id="totalProfitChart" style="width: 100%; max-width: 100%; overflow-x:scroll; height: 300px; margin: 2rem auto;"></div>
								<div class="table data rounded-none">
									<h4>Consolidated Balance Statement</h4>
                                    <h5 class="subheading">Operating Revenue</h5>
									<div class="table-row">
										<div class="cell">Ticket Revenue:</div>
										<div id="balTicketRevenue" class="cell" style="text-align:right;"></div>
									</div>
									<div class="table-row">
										<div class="cell">Lounge Revenue:</div>
										<div id="balLoungeRevenue" class="cell" style="text-align:right;"></div>
									</div>
                                    <div class="table-row">
										<div class="cell h5">Total Revenue:</div>
										<div id="balRevenueTot" class="cell h5" style="text-align:right;"></div> 
									</div>
                                    <h5 class="subheading">Operating Expense, Normalized</h5>
									<div class="table-row">
										<div class="cell">Staff:</div>
										<div id="balStaff" class="cell" style="text-align:right;"></div>
									</div>
									<div class="table-row">
										<div class="cell">Staff Overtime:</div>
										<div id="balStaffOvertime" class="cell" style="text-align:right;"></div>
									</div>
									<div class="table-row">
										<div class="cell">Flight Crew:</div>
										<div id="balFlightCrew" class="cell" style="text-align:right;"></div>
									</div>
									<div class="table-row">
										<div class="cell">Fuel (Normalized):<span class="tooltip">
                                                    <img class="info svg" src='@routes.Assets.versioned("/images/icons/information.svg")'>
                                                    <span class="tooltiptext alignLeft below text-sm" style="width:240px;">
                                                        This is a normalized $70 / barrel fuel metric used strictly for route comparability. Your actual fuel cost depends on your fuel strategy.
                                                    </span>
                                                </span></div>
										<div id="balFuelNormalized" class="cell" style="text-align:right;"></div>
									</div>
									<div class="table-row">
										<div class="cell">Depreciation (Standard):<span class="tooltip">
                                                    <img class="info svg" src='@routes.Assets.versioned("/images/icons/information.svg")'>
                                                    <span class="tooltiptext alignLeft below text-sm" style="width:240px;">
                                                        This is a standardized operational estimate based on your aircraft's list price and utilization, excluding your specific purchase discounts and the 20% fee when selling. The actual cost is the purchase price less what you sell each aircraft for, per operational week.
                                                    </span>
                                                </span></div>
										<div id="balDeprication" class="cell" style="text-align:right;"></div>
									</div>
									<div class="table-row">
										<div class="cell">Airport Rentals:</div>
										<div id="balAirportRentals" class="cell" style="text-align:right;"></div>
									</div>
									<div class="table-row">
										<div class="cell">In-flight Service:</div>
										<div id="balInflightService" class="cell" style="text-align:right;"></div>
									</div>
									<div class="table-row">
										<div class="cell">Delay Compensation:</div>
										<div id="balDelay" class="cell" style="text-align:right;"></div>
									</div>
									<div class="table-row">
										<div class="cell">Maintenance:</div>
										<div id="balMaintenance" class="cell" style="text-align:right;"></div>
									</div>
									<div class="table-row">
										<div class="cell">Lounge:</div>
										<div id="balLounge" class="cell" style="text-align:right;"></div>
									</div>
                                    <div class="table-row">
										<div class="cell">Advertising:</div>
										<div id="balAdvertising" class="cell" style="text-align:right;"></div>
									</div>
                                    <div class="table-row">
                                        <div class="cell h5">Total Expense:</div>
                                        <div id="balExpenseTot" class="cell h5" style="text-align:right;"></div>
                                    </div>
                                    <h5 class="subheading">Operating Income, Normalized</h5>
									<div class="table-row">
										<div class="cell h5"><h5>Total:<span class="tooltip">
                                                    <img class="info svg" src='@routes.Assets.versioned("/images/icons/information.svg")'>
                                                    <span class="tooltiptext alignLeft below text-sm" style="width:240px;">
                                                        This normalized figure is used to calculate your cost and revenue per available seat unit.  
                                                    </span>
                                                </span></h5></div>
										<div id="balOperatingIncome" class="cell h5" style="text-align:right;"></div>
									</div>
                                    <h5 class="subheading">Non-Operating Income/(Expense)</h5>
									<div class="table-row">
										<div class="cell">Carbon Fuel Tax:</div>
										<div id="balFuelTax" class="cell" style="text-align:right;"></div>
									</div>
									<div class="table-row">
										<div class="cell">Fuel (Adjustment to Actual):</div>
										<div id="balDenormalizedFuel" class="cell" style="text-align:right;"></div>
									</div>
									<div class="table-row">
										<div class="cell">Loan Interest:</div>
										<div id="balLoanInterest" class="cell" style="text-align:right;"></div>
									</div>
									<div class="table-row">
										<div class="cell">Dividends:</div>
										<div id="balDividends" class="cell" style="text-align:right;"></div>
									</div>
                                    <div class="table-row">
										<div class="cell h5">Total Non-Operating Income/(Expense):</div>
                                        <div id="balNonOperatingTot" class="cell h5" style="text-align:right;"></div>
									</div>
                                    <h4 class="subheading">Net Income</h4>
									<div class="table-row">
										<div class="cell h5">Total:<span class="tooltip">
                                                    <img class="info svg" src='@routes.Assets.versioned("/images/icons/information.svg")'>
                                                    <span class="tooltiptext alignLeft below text-sm" style="width:240px;">
                                                        Total income is useful for understanding your cash flow and is used for determining your EPS. It does not include capital costs or bonus income.
                                                    </span>
                                                </span></div>
										<div id="balNetIncome" class="cell h5" style="text-align:right;"></div>
									</div>
								</div>
							</div>
<!-- end income statement -->
							<div style="display: none;" id="ledgerSheet" class="sheet">
								<div id="assetChart" style="width:100%; height:300px; margin: 1rem auto;"></div>
								<div class="table data mt-4 p-0 rounded-none">
									<div class="table-header">
										<div class="cell" style="width: 15%;">Tx #</div>
										<div class="cell" style="width: 25%;">Type</div>
										<div class="cell" style="width: 40%;">Description</div>
										<div class="cell text-right" style="width: 20%;">Amount</div>
									</div>
									<div id="ledgerEntries" class="contents"></div>
								</div>
                                <p class="text-sm opacity-80 pt-8">The ledger shows all credits and debits to your airline balance. It is the most accurate and fundamental record of your financial activity.</p>
							</div>
<!-- end ledger sheet, end sheet wrapper -->
							<div style="width : 100%; display: none;" id="airlineStatsSheet" class="sheet">
								<div id="airlineStatsChart" class="py-2" style="width: 100%; height: 700px;"></div>
								<div style="display: flex; flex-wrap: wrap;">
									<div class="table data rounded-none" style="min-width: 200px; max-width: 300px;">
										<h4>Passenger Stats</h4>
										<div class="table-row">
											<div class="cell">Total unique:</div>
											<div class="total cell" style="text-align: right;"></div>
										</div>
										<div class="table-row">
											<div class="cell">Business:</div>
											<div class="business cell" style="text-align: right;"></div>
										</div>
										<div class="table-row">
											<div class="cell">Tourist:</div>
											<div class="tourist cell" style="text-align: right;"></div>
										</div>
										<div class="table-row">
											<div class="cell">Elite:</div>
											<div class="elite cell" style="text-align: right;"></div>
										</div>
										<div class="table-row">
											<div class="cell">Traveler & other:</div>
											<div class="traveler cell" style="text-align: right;"></div>
										</div>
										<div class="table-row">
											<div class="cell">Codeshares:</div>
											<div class="codeshares cell" style="text-align: right;"></div>
										</div>
									</div>
								</div>
							</div>

							<div style="width: 100%; display: none;" id="opsSheet" class="sheet">
								<div id="opsChart" style="width: 100%; height: 400px;"></div>
								<div class="item-grid pt-4" id="opsSheetContent">
                                    <div class="grid-header">
                                        <h4>Operating Metrics</h4>
                                        <p>These are the key metrics investors look at when buying / selling your stock.</p>
                                    </div>
									<div class="item airlineTypeHide">
										<div class="i-label">Earnings / Share<div class="tooltip">
                                            <img src="/assets/images/icons/information.svg">
                                            <div id="tooltip_stock_eps" class="tooltiptext below" style="width: 280px;"></div>
                                        </div></div>
										<div class="i-value eps"></div>
									</div>
                                    <div class="item airlineTypeHide">
                                        <div class="i-label">Dividends / Share<div class="tooltip">
                                            <img src="/assets/images/icons/information.svg">
                                            <div id="tooltip_stock_dividends" class="tooltiptext below" style="width: 280px;"></div>
                                        </div></div>
                                        <div class="i-value dividends_per_share"></div>
                                    </div>
                                    <div class="item">
                                        <div class="i-label">Profit / Available Seat<div class="tooltip">
                                            <img src="/assets/images/icons/information.svg">
                                            <div id="tooltip_stock_pask" class="tooltiptext below" style="width: 280px;"></div>
                                        </div></div>
                                        <div class="i-value PASK"></div>
                                    </div>
                                    <div class="item">
                                        <div class="i-label">Routes</div>
                                        <div class="i-value link_count"></div>
                                    </div>
									<div class="item">
										<div class="i-label">Satisfaction<div class="tooltip">
                                            <img src="/assets/images/icons/information.svg">
                                            <div id="tooltip_satisfaction" class="tooltiptext below" style="width: 280px;"></div>
                                        </div></div>
										<div class="i-value satisfaction"></div>
									</div>
                                    <div class="item">
                                        <div class="i-label">Codeshares</div>
                                        <div class="i-value codeshares"></div>
                                    </div>
									<div class="item">
										<div class="i-label">On-Time Performance<div class="tooltip">
											<img src="/assets/images/icons/information.svg">
											<div class="tooltiptext below" style="width: 280px;">
												<p>On-time performance is modified by the condition each aircraft, maintenance hangars, and airport congestion.</p>
											</div>
										</div></div>
										<div class="i-value on_time"></div>
									</div>
                                    <div class="item">
                                        <div class="i-label">Leading Airline<div class="tooltip">
                                            <img src="/assets/images/icons/information.svg">
                                            <div class="tooltiptext below" style="width: 280px;">
                                                <p>Getting on leaderboards generates investor enthusiasm.</p>
                                            </div>
                                        </div></div>
                                        <div class="i-value rep_leaderboards"></div>
                                    </div>
									<div class="divider"></div>
                                    <h4 class="grid-header">Ticketing</h4>
                                    <div class="item">
                                        <div class="i-label">Tickets sold</div>
                                        <div class="i-value total"></div>
                                    </div>
                                    <div class="item">
                                        <div class="i-label">Load Factor</div>
                                        <div class="i-value"><span class="load_factor"></span>%</div>
                                    </div>
									<div class="item">
										<div class="i-label">Destinations</div>
										<div class="i-value destinations"></div>
									</div>
									<div class="item">
										<div class="i-label">Countries Served</div>
										<div class="i-value countriesServed"></div>
									</div>
									<div class="divider"></div>
                                    <h4 class="grid-header">Fleet</h4>
									<div class="item">
										<div class="i-label">Size</div>
										<div class="i-value fleetSize"></div>
									</div>
                                    <div class="item">
                                        <div class="i-label">Average age</div>
                                        <div class="i-value"><span class="fleetAge"></span></div>
                                    </div>
									<div class="item">
										<div class="i-label">Condition</div>
										<div class="i-value"><span class="fleetCondition"></span>%</div>
									</div>
									<div class="item">
										<div class="i-label">Utilization</div>
										<div class="i-value"><span class="fleetUtilization"></span>%</div>
									</div>
								</div>
							</div>

							<div style="width: 100%; display: none;" id="airlineReputationSheet" class="sheet">
								<div id="airlineReputationChart" style="width: 100%; height: 400px; margin: 0 auto;"></div>
								<div class="table data rounded-none" style="min-width: 200px; max-width: 300px;">
									<h4>Airline Reputation</h4>
									<div class="table-row">
										<div class="cell h5 strong">Total:</div>
										<div class="rep_total cell" style="text-align: right;"></div>
									</div>
									<div class="table-row">
										<div class="cell">Leaderboard:</div>
										<div class="rep_leaderboards cell h5 strong" style="text-align: right;"></div>
									</div>
								</div>
							</div>

						</div>
                        </div><!-- end sheet wrapper -->

						<div class="section" style="width: 100%;">
                            <h4>Airline Settings</h4>
                            <div class="item-grid py-4">
                                <div>
                                    <button class="button" style="width: 120px;" onclick="promptConfirm('Reset all tutorials?', setSkipTutorial, false)">Reset Tutorials</button>
                                </div>
                                <div class="table-row">
                                    <div class="cell label">Airline Code:</div>
                                    <div class="cell value">
                                        <span id="airlineCodeDisplaySpan">
                                            <span id="airlineCode"></span>
                                            <img class="img-button svg hover-rotate" src='@routes.Assets.versioned("images/icons/gear.svg")' onclick="editAirlineCode()" />
                                        </span>
                                        <span id="airlineCodeInputSpan" style="display: none;">
                                            <input id="airlineCodeInput" type="text" onkeyup="validateAirlineCode($(this).val())" />
                                            <img class="img-button svg hover-rotate" src='@routes.Assets.versioned("/images/icons/tick.svg")' onclick="setAirlineCode($('#airlineCodeInput').val())" />
                                            <span class="warning" style="display:none;">Code should be exactly 2 letters</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="table-row airlineColor">
                                    <div class="cell label">Airline Color:</div>
                                    <div class="cell value">
                                        <input type="color" class="picker" data-tooltip='Change airline color'>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="cell label">Logo:</div>
                                    <div class="cell value">
                                        <img class="airlineLogo" src='#'>
                                        <div class="flex-row pt-1 pb-4">
                                            <img class="img-button svg hover-rotate" src='@routes.Assets.versioned("images/icons/gear.svg")'  data-tooltip="Edit Logo" onclick="editAirlineLogo()" />
                                            <img src='@routes.Assets.versioned("/images/icons/picture--plus.png")' data-tooltip='Upload custom logo' class='img-button' style="vertical-align: middle;" onclick="showUploadLogo()" />
                                        </div>
                                    </div>
                                </div>
							</div>
						</div>

					</div>

					<div class="vertical-group" style="width: 30%; min-width: 300px;">
                        <textarea id="airlineNotes" class="section" placeholder="Add your private notes here..."></textarea>
                        <div class="section" id="managerStatus">
                            <h4>
                                Managers
                                <span class="tooltip">
									<img class="info svg" src="/assets//images/icons/6225ecd56079ca6e3a8d412411b89359-information.svg">
									<span id="tooltip_manager" class="tooltiptext alignLeft below text-sm" style="width: 280px; visibility: hidden; opacity: 0;"></span>
								</span>
                            </h4>
                            <div class="managerGroups py-2"></div>
                            <button type="button" class="button" onclick="showManagerModal()">
                                View details
                            </button>
                        </div>
						<div class="section">
                            <h4>Headquarters</h4>
							<div style="position: relative; height: 125px; width: 150px; margin: auto;box-sizing: border-box;" class="headquartersMap"></div>
							<h4>Airline Bases</h4>
							<div style="width: 100%;" class="table">
								<div class="table-header">
									<div class="cell" style="width: 14%">Scale</div>
									<div class="cell" style="width: 35%">Airport</div>
									<div class="cell" style="width: 31%">Staff <br><small>Required | Available</small></div>
									<div class="cell" style="width: 20%">Overtime</div>
								</div>
							</div>
							<div style="width: 100%;  overflow-y:auto; flex: 1;">
								<div style="width: 100%;" class="table data bases">
									<div class="table-header">
										<div class="cell" style="width: 14%; border-bottom: none;"></div>
										<div class="cell" style="width: 35%; border-bottom: none;"></div>
										<div class="cell" style="width: 31%; border-bottom: none;"></div>
										<div class="cell" style="width: 20%; border-bottom: none;"></div>
									</div>
								</div>
							</div>
                        </div>

						<div class="section">
							<h4>Airplane Livery
								<img src='@routes.Assets.versioned("/images/icons/picture--plus.png")' class='img-button' style="vertical-align: middle;" onclick="showUploadLivery()">
								<img src='@routes.Assets.versioned("/images/icons/picture--minus.png")' class='img-button' style="vertical-align: middle;" onclick="deleteLivery()">
							</h4>
							<div style="position: relative; width: 100%">
								<img class="livery" style="max-height: 300px; max-width: 100%; display: block; margin: auto;">
							</div>
							<h4 style="margin-top: 5px;">Company Slogan
								<img src='@routes.Assets.versioned("/images/icons/tick.svg")' class='img-button svg' style="vertical-align: middle;" onclick="saveSlogan()">
							</h4>
							<textarea rows="3" cols="40" maxlength="200" class="slogan" style="width:99%; height: 50px;" placeholder="Your airline slogan..."></textarea>
						</div>

						<div class="section" >
							<h4>Championed Countries</h4>
							<div class="table data" style="width: 100%;">
								<div class="table-header">
									<div class="cell" style="width: 10%; min-width: 20px;">&nbsp;</div>
									<div class="cell" style="width: 90%">Country</div>
								</div>
							</div>
							<div style="max-height: 500px; overflow: auto;">
								<div class="table data" id="championedCountriesList" style="width: 100%;">
									<div class="table-header">
										<div class="cell" style="width: 10%; border-bottom: none;"></div>
										<div class="cell" style="width: 90%; border-bottom: none;"></div>
									</div>
								</div>
							</div>
						</div>

						<div class="section" >
							<h4>Championed Airports</h4>
							<div class="table data" style="width: 100%;">
								<div class="table-header">
									<div class="cell" style="width: 8%">&nbsp;</div>
									<div class="cell" style="width: 52%">Airport</div>
									<div class="cell" style="width: 20%">Loyalists</div>
									<div class="cell" style="width: 20%">Reputation Bonus</div>
								</div>
							</div>
							<div style="max-height: 250px; overflow: auto;">
								<div class="table data" id="championedAirportsList" style="width: 100%;">
									<div class="table-header">
										<div class="cell" style="width: 8%; border-bottom: none;"></div>
										<div class="cell" style="width: 52%; border-bottom: none;"></div>
										<div class="cell" style="width: 20%; border-bottom: none;"></div>
										<div class="cell" style="width: 20%; border-bottom: none;"></div>
									</div>
								</div>
							</div>
						</div>

						<div style="width: 600px; margin: auto;" id="popover-reset" popover>
							<div class="table data" style="width: 100%;">
								<div class="table-row">
									<div class="label">Sold Airplanes</div>
									<div class="value airplanes"></div>
								</div>
								<div class="table-row">
									<div class="label">Sold Bases</div>
									<div class="value bases"></div>
								</div>
								<div class="table-row">
									<div class="label">Loans Repayment</div>
									<div class="value loans"></div>
								</div>
								<div class="table-row">
									<div class="label">Cash</div>
									<div class="value cash"></div>
								</div>
								<div class="table-row">
									<div class="label">New Balance after reset</div>
									<div class="value overall"></div>
								</div>
							</div>
						</div>

						<div class="section" >
                            <h4>Rebuild airline<img src='@routes.Assets.versioned("/images/icons/construction.png")'/></h4>
                            <ul>
                                <li class="label dot">Reset to initial game start with rebuild value of&nbsp;$<span id="resetBalance"></span>
                                    <a popovertarget="popover-reset" onmouseover="document.getElementById('popover-reset').showPopover();">
                                        <img class="info svg" src='@routes.Assets.versioned("/images/icons/information.svg")'>
                                    </a>
                                </li>
								<li class="label dot">Select an airport on the map to build your headquarters</li>
								<li class="label dot">Then choose your airline type</li>
                            </ul>
                            <div class='button resetAirline rebuild' onclick='promptConfirm("Rebuild Airline?", resetAirline, true)'>Rebuild Airline</div>
                            <h4 class="pt-4">Declare bankruptcy<img src='@routes.Assets.versioned("/images/icons/heart-break.png")'/></h4>
                            <ul>
                                <li class="label dot">Reset to initial game start</li>
								<li class="label dot">Select an airport on the map to build your headquarters</li>
								<li class="label dot">Then choose your airline type</li>
                            </ul>
                            <div class='button resetAirline bankrupt' onclick='promptConfirm("Declare bankruptcy?", resetAirline, false)'>Declare Bankruptcy</div>
						</div>
					</div>
	<!-- 		    	end right section -->
				</div>
