    <div id="tutorialHtml"></div>
    <div id="noticeHtml"></div>
    <div id="firework-container" style="display: none">
		<!-- App -->
		<div class="container">
			<div class="stage-container remove">
				<div class="canvas-container">
					<canvas id="trails-canvas"></canvas>
					<canvas id="main-canvas"></canvas>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal for loading -->
	<div class="loadingSpinner"><div class="loader-svg"></div></div>

<link rel="preconnect" href="https://use.typekit.net" crossorigin />
<link rel="preconnect" href="https://p.typekit.net" crossorigin />
<link rel="stylesheet" href="https://use.typekit.net/plw0ulw.css">
<script>
window.VERSIONED_ASSETS = {
  'login.js':             '@routes.Assets.versioned("javascripts/login.js")',
  'signup.js':            '@routes.Assets.versioned("javascripts/signup.js")',
  'routes.js':            '@routes.Assets.versioned("javascripts/routes.js")',
  'main.js':              '@routes.Assets.versioned("javascripts/main.js")',
  'gadgets.js':           '@routes.Assets.versioned("javascripts/gadgets.js")',
  'local-storage.js':     '@routes.Assets.versioned("javascripts/local-storage.js")',
  'airline.js':           '@routes.Assets.versioned("javascripts/airline.js")',
  'websocket.js':         '@routes.Assets.versioned("javascripts/websocket.js")',
  'prompt.js':            '@routes.Assets.versioned("javascripts/prompt.js")',
  'color.js':             '@routes.Assets.versioned("javascripts/color.js")',
  'settings.js':          '@routes.Assets.versioned("javascripts/settings.js")',
  'plot-chartjs.js':      '@routes.Assets.versioned("javascripts/plot-chartjs.js")',
  'airport.js':           '@routes.Assets.versioned("javascripts/airport.js")',
  'airplane.js':          '@routes.Assets.versioned("javascripts/airplane.js")',
  'model-config/index.js':'@routes.Assets.versioned("javascripts/model-config/index.js")',
  'manager.js':           '@routes.Assets.versioned("javascripts/manager.js")',
  'country.js':           '@routes.Assets.versioned("javascripts/country.js")',
  'office.js':            '@routes.Assets.versioned("javascripts/office.js")',
  'ranking.js':           '@routes.Assets.versioned("javascripts/ranking.js")',
  'christmas.js':         '@routes.Assets.versioned("javascripts/christmas.js")',
  'bank.js':              '@routes.Assets.versioned("javascripts/bank.js")',
  'admin.js':             '@routes.Assets.versioned("javascripts/admin.js")',
  'oil.js':               '@routes.Assets.versioned("javascripts/oil.js")',
  'rivals.js':            '@routes.Assets.versioned("javascripts/rivals.js")',
  'alliance.js':          '@routes.Assets.versioned("javascripts/alliance.js")',
  'event.js':             '@routes.Assets.versioned("javascripts/event.js")',
  'search.js':            '@routes.Assets.versioned("javascripts/search.js")',
  'profile.js':           '@routes.Assets.versioned("javascripts/profile.js")',
  'pending-action.js':    '@routes.Assets.versioned("javascripts/pending-action.js")',
  'table-utils.js':       '@routes.Assets.versioned("javascripts/table-utils.js")',
  'link-history.js':      '@routes.Assets.versioned("javascripts/link-history.js")',
  'confetti.js':          '@routes.Assets.versioned("javascripts/confetti.js")',
  'departures.js':        '@routes.Assets.versioned("javascripts/departures.js")',
  'campaign.js':          '@routes.Assets.versioned("javascripts/campaign.js")',
  'notification.js':      '@routes.Assets.versioned("javascripts/notification.js")',
  'mobile.js':            '@routes.Assets.versioned("javascripts/mobile.js")',
  'chat-popup.js':        '@routes.Assets.versioned("javascripts/chat-popup.js")',
  'tiles.js':             '@routes.Assets.versioned("javascripts/tiles.js")',
  'facility.js':          '@routes.Assets.versioned("javascripts/facility.js")',
  'chat.js':              '@routes.Assets.versioned("javascripts/chat.js")',
};
</script>
<script src='@routes.Assets.versioned("javascripts/index.js")'></script>
<script defer src='@routes.Assets.versioned("firework/fscreen.js")'></script>
<script defer src='@routes.Assets.versioned("firework/stage.js")'></script>
<script defer src='@routes.Assets.versioned("firework/my-math.js")'></script>
<script defer src='@routes.Assets.versioned("firework/firework.js")'></script>
