    <div id="tutorialHtml"></div>
    <div id="noticeHtml"></div>
    <div id="firework-container" style="display: none">
		<!-- App -->
		<div class="container">
			<div class="stage-container remove">
				<div class="canvas-container">
					<canvas id="trails-canvas"></canvas>
					<canvas id="main-canvas"></canvas>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal for loading -->
	<div class="loadingSpinner"><div class="loader-svg"></div></div>

<link rel="preconnect" href="https://use.typekit.net" crossorigin />
<link rel="preconnect" href="https://p.typekit.net" crossorigin />
<link rel="stylesheet" href="https://use.typekit.net/plw0ulw.css">
<script src='@routes.Assets.versioned("javascripts/index.js")'></script>
<script defer src='/assets/firework/fscreen.js'></script>
<script defer src='/assets/firework/stage.js'></script>
<script defer src='/assets/firework/my-math.js'></script>
<script defer src="/assets/firework/firework.js"></script>
