        <button id="navPrimaryToggle" title="Toggle mobile nav collapse" aria-controls="navPrimary" aria-expanded="false">
            <span class="icon-open" aria-hidden="true" style="display: inline-block;">
                <span style="display:block; width: 20px; height: 2px; background-color: var(--text-color); border-radius:2px; margin-bottom:3px;"></span>
                <span style="display:block; width: 20px; height: 2px; background-color: var(--text-color); border-radius:2px; margin-bottom:3px;"></span>
                <span style="display:block; width: 20px; height: 2px; background-color: var(--text-color); border-radius:2px;"></span>
            </span>
            <span class="icon-close" aria-hidden="true" style="display:none; font-size: 22px; line-height: 1; color: var(--text-color);">&times;</span>
        </button>

        <div id="navPrimary" style="display: none;">
            <a class="nav-link" data-link="map" href="/map/">
                <img src='@routes.Assets.versioned("/images/icons/globe-green.png")'>
                <span class="label floatLabel">World Map</span>
            </a>
            <a class="nav-link" data-link="flights" href="/flights/">
                <img src='@routes.Assets.versioned("/images/icons/arrow-step-over.png")'>
                <span class="label floatLabel">Flights</span>
            </a>
            <a class="nav-link" data-link="hangar" href="/hangar/">
                <img src='@routes.Assets.versioned("/images/icons/airplane-gear.png")'>
                <span class="label floatLabel">Airplane</span>
            </a>
            <a class="nav-link" data-link="office" href="/office/">
                <img src='@routes.Assets.versioned("/images/icons/building-hedge.png")'>
                <span class="label floatLabel">Office</span>
            </a>
            <a class="nav-link" data-link="champions" href="/champions/">
                <img src='@routes.Assets.versioned("/images/icons/trophy.png")'>
                <span class="label floatLabel">Leaderboards</span>
            </a>
            <a class="nav-link" data-link="bank" href="/bank/">
                <img src='@routes.Assets.versioned("/images/icons/bank.png")'>
                <span class="label floatLabel">Bank</span>
            </a>
            <a class="nav-link" data-link="oil" href="/oil/">
                <img src='@routes.Assets.versioned("/images/icons/oil-barrel.png")'>
                <span class="label floatLabel">Oil</span>
            </a>
            <a class="nav-link" data-link="rivals" href="/rivals/">
                <img src='@routes.Assets.versioned("/images/icons/user-silhouette-question.png")'>
                <span class="label floatLabel">Rivals</span>
            </a>
            <a class="nav-link" data-link="alliance" href="/alliance/">
                <img src='@routes.Assets.versioned("/images/icons/puzzle.png")'>
                <span class="label floatLabel">Alliance</span>
            </a>
            <a class="nav-link" data-link="country" href="/country/">
                <img src='@routes.Assets.versioned("/images/icons/locale.png")'>
                <span class="label floatLabel">Country</span>
            </a>
            <a class="nav-link" data-link="event" href="/olympics/">
                <img src='@routes.Assets.versioned("/images/icons/olympics-medal.png")'>
                <span class="label floatLabel">Olympics</span>
            </a>
            <a class="nav-link" data-link="search" href="/search/">
                <img src='@routes.Assets.versioned("/images/icons/magnifier.png")'>
                <span class="label floatLabel">Search</span>
            </a>
        </div>
