@(message: String)(implicit configuration:play.api.Configuration)
@import views.html.fragments

<!DOCTYPE html>
<html>
@fragments.head(message)
<body>
@fragments.map_controls()
@fragments.navbar(message)

<div style="position: relative;" id="mainContainer"> <!-- Main container for the contents + the landing masks-->
    <div id="landing"></div>
    <div id="main" style="width: 100%; position: relative;  overflow-x: hidden; overflow-y: scroll;">
        @fragments.chat()
        @fragments.sidebar()
        @fragments.login()

        <!-- main canvas start -->
        <div id="canvasContainer">
            @fragments.world_map()
            @fragments.links_canvas()
            @fragments.airport_canvas()
            @fragments.departures_canvas()
            @fragments.country_canvas()
            @fragments.airplane_canvas()
            @fragments.office_canvas()
            @fragments.bank_canvas()
            @fragments.oil_canvas()
            @fragments.ranking_canvas()
            @fragments.rivals_canvas()
            @fragments.alliance_canvas()
            @fragments.log_canvas()
            @fragments.event_canvas()
        </div>
        <!-- main canvas end -->
    </div> <!-- end container for main canvas and the landing blur -->
</div>

@fragments.modals()
@fragments.scripts()

</body>
</html>
